.tableStyle{
  font-family: Monospace;
  text-align: center;
  border: 3px solid red;
  color: black;
  border-collapse: collapse;
}

.tableStyle th, td{
    border: 3px solid red;
    color: black;
}

.bodyStyle{
  font-family: Sans-Serif;
  color: black;
}

.bodyStyle p{
  font-family: Serif;
}

.bgColor{
  background-color: powderblue;
}

.bgImage{
  background-image: url("http://pre06.deviantart.net/4388/th/pre/f/2012/240/f/7/pretty_backround_by_rokku_d-d5cr7n8.jpg")
}

.tableImage th{
  background-image: url("http://www.textures4photoshop.com/tex/thumbs/low-poly-grunge-free-texture-38.jpg")
}

.tableHeaderColor th{
  color: white;
}

.bodyBackround{
  background-image: url("http://pre01.deviantart.net/1882/th/pre/i/2006/124/f/4/blue_grid_light_by_cyantix.jpg")
}
