*{
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #B0E5FF;
    padding: 5px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: gray;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: powderblue;
    color: gray;
}

/* indicate active page on nav */
.active {
    background-color: #3274FF;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 75%;
}
/* Whole Column */
.column.whole {
    width: 100%;
}

/* Half Column */
.column.half {
    width: 49%;
}

/* sixth of a column (used once) */
.column.sixth {
    width: 16.5%;
}

/* 66% */
.column.twoThirds {
    width: 66%;
}

/* 33% */
.column.oneThirds {
    width: 33%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #D8E4FF;
    padding: 10px;
    font-size: 30px;
    
}
