h1 {
  color:yellow;
  font-family: veranda;
}
p {
  color:green;
}

#id1{
  color:purple;
  font-family: veranda;
}

#id2{
  text-align: center;
  color: orange;
}

.bluev {
  color: blue;
  font-family: verdana;
}

.center {
  text-align: center;
  color:red;
}

.blue p{
  color: blue;
  font-family: verdana;
}
